---
---
<span class="self-center ml-2 text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white flex items-center">
  WIDOWS SONS <span class="text-[#d4af37] ml-2"> RIO URUGUAY</span>
</span>
